@import "./variables";
@import "./mixins";
@import "./reset";

// NAVGATION STARTS

.navbar {
  display: flex;
  flex-direction: column;
  background-color: $BandSite-Black;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  @include tablet {
    flex-direction: row;
    background-color: $BandSite-Black;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  &__container {
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
    @include tablet {
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
    @include desktop {
      padding-left: 7rem;
    }
  }
  @include tablet {
    display: flex;
    background-color: $BandSite-Black;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  &__logo {
    display: flex;
    height: 20px;
    width: 120px;
  }
  &__list {
    list-style: none;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding-top: 13px;
    a {
      display: inline-block;
    }
    @include tablet {
      display: inline-block;
    }
  }
  &__link {
    color: $White;
    width: 50vw;
    text-align: center;
    padding-bottom: 8px;
    @include tablet {
      width: fit-content;
      margin: 24px 32px 0;
      padding-bottom: 32px;
    }
    &--selected {
      border-bottom: 3px solid white;
    }
    &:hover {
      border-bottom: 3px solid white;
    }
  }
}
// NAVGATION ENDS

.footer {
  background-color: $BandSite-Black;
  color: $White;
  width: 100vw;
  padding: 16px;
  @include tablet {
    padding: 42px;
  }
  @include desktop {
    padding-top: 64px;
  }
  &__container {
    &-whole {
      @include tablet {
        position: relative;
      }
    }
    &-top {
      @include tablet {
        display: flex;
      }
    }
    &-bottom {
      @include tablet {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
      }
      @include desktop {
        width: 70%;
      }
    }
  }
  &__title {
    padding-top: 1rem;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    @include tablet {
      font-size: 36px;
      line-height: 44px;
      font-weight: 700;
    }
  }
  &__two {
    padding-bottom: 15px;
    @include tablet {
      display: flex;
      align-items: flex-end;
      padding-left: 47px;
      padding-bottom: 23px;
    }
    @include desktop {
      padding-left: 122px;
    }
  }
  &__icon--instagram {
    padding-right: 20px;
  }
  &__icon--facebook {
    padding-right: 20px;
  }
  &__section--left {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__three {
    padding-bottom: 15px;
    @include tablet {
      padding-bottom: 25px;
    }
  }
  &__broadway-adress {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 15px;
    @include tablet {
      padding-bottom: 25px;
    }
  }
  &__email--one {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 15px;
  }
  &__section--middle {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
    @include desktop {
    }
  }
  &__group {
    padding-bottom: 15px;
    @include tablet {
      padding-bottom: 25px;
    }
  }
  &__booking--one {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 15px;
    @include tablet {
      padding-bottom: 25px;
    }
  }
  &__email--two {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 15px;
  }
  &__section--right {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
    @include desktop {
    }
  }
  &__booking--two {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 15px;
    @include tablet {
      padding-bottom: 25px;
    }
  }
  &__email--three {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 15px;
  }
  &__twelve {
    padding-top: 55px;
    padding-bottom: 10px;
  }
  &__logo {
    @include tablet {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 25px;
    }
    @include desktop {
      padding-right: 15px;
    }
  }
  &__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}
// FOOTER STARTS
// FOOTER END
