// RESPONSIVE SECTION
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// PRIMARY COLORS
$BandSite-Black: #323232;
$Silver: #afafaf;
$White: #ffffff;

// SECONDARY COLORS
$BandSite-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
