// HEADER SECTION
$headercolor: #323232;

// FOOTER SECTION

$footercolor: #323232;
$footertextcolor: white;

// PHOTOGALLERY
$photogallerybg: #fafafa;

// RESPONSIVE SECTION
$tablet-breakpoint: 48rem;

$desktop-breakpoint: 80rem;

// typography

$navbarfontcolor: white;

$biocolor: #323232;
