@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/reset";
@import "./partials/global";

html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-image: url(../assets/images/hero-bio.jpg);
  margin-bottom: 8px;
  &__overlay {
    background-color: $BandSite-Black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &__title {
    position: relative;
    line-height: 32px;
    font-size: 24px;
    padding: 10vh 1.5rem;
    font-weight: 600;
    color: $White;
    z-index: 5;
    @include tablet {
      padding: 25vh 2rem;
      line-height: 68px;
      font-size: 60px;
    }
    @include desktop {
      padding: 30vh 6rem;
    }
  }
}

.bio {
  padding: 16px;
  @include tablet {
    padding: 36px 36px 0 36px;
  }
  &__paragraph-section {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $BandSite-Black;
    padding-left: 2.5px;
    padding-bottom: 5px;
    @include tablet {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      padding-left: 0.5rem;
    }
  }
  &__holder {
    @include tablet {
      padding-top: 16px;
      padding-bottom: 0;
      padding-left: 40px;
      padding-right: 40px;
    }
    @include desktop {
      padding-top: 30;
      padding-bottom: 0;
      padding-left: 200px;
      padding-right: 200px;
    }
  }
  &__image {
    height: 40%;
    width: 100%;
    @include desktop {
      height: 30rem;
    }
  }
  &__quote {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $BandSite-Black;
    padding-top: 20px;
    padding-bottom: 8px;
    @include tablet {
      font-size: 24px;
      line-height: 36px;
      max-width: 722px;
    }
    &--artist {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: $BandSite-Black;
      padding-bottom: 25px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 10px;
    @include tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__container--top {
    padding-bottom: 10px;
    @include tablet {
      display: flex;
    }
  }
  &__paragraph--one {
    color: $BandSite-Black;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-right: 1rem;
  }
  &__container--bottom {
    padding-top: 10px;
    @include tablet {
      padding-top: 0;
      padding-left: 50px;
    }
  }
  &__paragraph--two {
    color: $BandSite-Black;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}

.photo-gallery {
  padding-top: 30px;
  background-color: $Alabaster;
  color: $BandSite-Black;
  &__title {
    padding-left: 15px;
    @include tablet {
      padding-left: 44px;
      font-weight: 600;
      width: 100vw;
    }
    @include desktop {
      padding-left: 130px;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    @include desktop {
      padding: 0 64px;
    }
  }
  &__image {
    padding: 8px 16px;
    width: 100%;
    filter: grayscale(100%);
    transition: 1s;
    &:hover {
      filter: grayscale(50%);
    }
    @include tablet {
      width: 30%;
      padding: 8px;
    }
  }
}

.forum {
  &__container {
    padding: 16px 16px 0 16px;
  }
  &__title {
    color: $BandSite-Black;
  }
  &__avatar {
    height: 30px;
    width: 30px;
    background-image: url("../assets/images/Mohan-muruge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  &__name--title {
    color: $Mercury;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }
  &__comment-title {
    color: $Mercury;
  }
  &__button {
    $White: #ffffff;
  }

  &__section {
    color: $BandSite-Black;

    // &-one {
    // }

    &-two {
      position: relative;
      padding: 10px;
    }
    &-three {
      padding: 10px;
    }
    &-four {
      padding: 10px;
    }
  }
  &__subsection--header {
    display: flex;
    justify-content: space-between;
  }
  &__avatar-blank {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: $Mercury;
    border-radius: 50%;
  }
  &__user {
    color: $BandSite-Black;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-left: 10vw;
  }
  &__date {
    color: $BandSite-Black;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $Mercury;
    // padding-left: 20vw;
  }
  &__body {
    color: $BandSite-Black;
    padding-left: 10vw;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  &__divider {
    border-top: solid 1px $Mercury;
  }

  &__banner {
    display: flex;
  }
}
