@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}

html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "avenir";
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}

html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "avenir";
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

@media (min-width: 48rem) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #323232;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}

.navbar__style {
  text-decoration: none;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.2rem;
}

@media (min-width: 48rem) {
  .navbar__container {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 80rem) {
  .navbar__container {
    padding-left: 7rem;
  }
}

@media (min-width: 48rem) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #323232;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 120px;
}

.navbar__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 13px;
}

.navbar__list a {
  display: inline-block;
}

@media (min-width: 48rem) {
  .navbar__list {
    display: inline-block;
  }
}

.navbar__link {
  color: #ffffff;
  width: 50vw;
  text-align: center;
  padding-bottom: 8px;
}

@media (min-width: 48rem) {
  .navbar__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 24px 32px 0;
    padding-bottom: 32px;
  }
}

.navbar__link--selected {
  border-bottom: 3px solid white;
}

.navbar__link:hover {
  border-bottom: 3px solid white;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  width: 100vw;
  padding: 16px;
  margin-top: 1.5rem;
}

@media (min-width: 48rem) {
  .footer {
    padding: 2.625rem;
  }
}

@media (min-width: 80rem) {
  .footer {
    padding-top: 2.1875rem;
  }
}

@media (min-width: 48rem) {
  .footer__container-whole {
    position: relative;
  }
}

@media (min-width: 48rem) {
  .footer__container-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 48rem) {
  .footer__container-bottom {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 80rem) {
  .footer__container-bottom {
    width: 70%;
  }
}

.footer__title {
  padding-top: 1rem;
  padding-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media (min-width: 48rem) {
  .footer__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

.footer__two {
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 47px;
    padding-bottom: 23px;
  }
}

@media (min-width: 80rem) {
  .footer__two {
    padding-left: 122px;
  }
}

.footer__icon--instagram {
  padding-right: 20px;
}

.footer__icon--facebook {
  padding-right: 20px;
}

@media (min-width: 48rem) {
  .footer__section--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__three {
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__three {
    padding-bottom: 25px;
  }
}

.footer__broadway-adress {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__broadway-adress {
    padding-bottom: 25px;
  }
}

.footer__email--one {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__section--middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__group {
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__group {
    padding-bottom: 25px;
  }
}

.footer__booking--one {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__booking--one {
    padding-bottom: 25px;
  }
}

.footer__email--two {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__section--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__booking--two {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

@media (min-width: 48rem) {
  .footer__booking--two {
    padding-bottom: 25px;
  }
}

.footer__email--three {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

.footer__twelve {
  padding-top: 55px;
  padding-bottom: 10px;
}

@media (min-width: 48rem) {
  .footer__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 25px;
  }
}

@media (min-width: 80rem) {
  .footer__logo {
    padding-right: 15px;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-image: url(../assets/images/hero-bio.jpg);
  margin-bottom: 8px;
}

.hero__overlay {
  background-color: #323232;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero__title {
  position: relative;
  line-height: 32px;
  font-size: 24px;
  padding: 10vh 1.5rem;
  font-weight: 600;
  color: #ffffff;
  z-index: 5;
}

@media (min-width: 48rem) {
  .hero__title {
    padding: 25vh 2rem;
    line-height: 68px;
    font-size: 60px;
  }
}

@media (min-width: 80rem) {
  .hero__title {
    padding: 30vh 6rem;
  }
}

.bio {
  padding: 16px;
}

@media (min-width: 48rem) {
  .bio {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}

@media (min-width: 48rem) {
  .bio__paragraph-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bio__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  padding-left: 0.15625rem;
  padding-bottom: 0.3125rem;
}

@media (min-width: 48rem) {
  .bio__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-left: 0.5rem;
  }
}

@media (min-width: 48rem) {
  .bio__holder {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 80rem) {
  .bio__holder {
    padding-top: 30;
    padding-bottom: 0;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}

.bio__image {
  height: 40%;
  width: 100%;
}

@media (min-width: 80rem) {
  .bio__image {
    height: 30rem;
  }
}

.bio__quote {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 48rem) {
  .bio__quote {
    font-size: 24px;
    line-height: 36px;
    max-width: 45.125rem;
  }
}

.bio__quote--artist {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #323232;
  padding-bottom: 1.5625rem;
}

.bio__subtitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 0.625rem;
}

@media (min-width: 48rem) {
  .bio__subtitle {
    font-size: 24px;
    line-height: 36px;
  }
}

.bio__container--top {
  padding-bottom: 10px;
}

@media (min-width: 48rem) {
  .bio__container--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bio__paragraph--one {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-right: 1rem;
}

.bio__container--bottom {
  padding-top: 0.625rem;
}

@media (min-width: 48rem) {
  .bio__container--bottom {
    padding-top: 0;
    padding-left: 3.125rem;
  }
}

.bio__paragraph--two {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.photo-gallery {
  padding-top: 1.875rem;
  background-color: #fafafa;
  color: #323232;
}

.photo-gallery__title {
  padding-left: 0.9375rem;
}

@media (min-width: 48rem) {
  .photo-gallery__title {
    padding-left: 2.75rem;
    font-weight: 600;
    width: 100vw;
  }
}

@media (min-width: 80rem) {
  .photo-gallery__title {
    padding-left: 130px;
  }
}

.photo-gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 80rem) {
  .photo-gallery__container {
    padding: 0 4rem;
  }
}

.photo-gallery__image {
  padding: 0.625rem 1rem;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.photo-gallery__image:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

@media (min-width: 48rem) {
  .photo-gallery__image {
    width: 30%;
    padding: 0.5rem;
  }
}

.forum__container {
  padding: 1rem 1rem 0 1rem;
}

@media (min-width: 48rem) {
  .forum__container {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
}

.forum__title {
  color: #323232;
}

@media (min-width: 48rem) {
  .forum__title {
    padding-left: 4vw;
    font-weight: 600;
  }
}

.forum__avatar {
  height: 2.1875rem;
  width: 2.1875rem;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  margin-top: 2.5rem;
}

@media (min-width: 48rem) {
  .forum__avatar {
    height: 2.8125rem;
    width: 2.8125rem;
    margin-left: 3rem;
  }
}

@media (min-width: 80rem) {
  .forum__avatar {
    margin-left: 12.5rem;
  }
}

.forum__info {
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 48rem) {
  .forum__info {
    padding-top: 1rem;
    padding-left: 7rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
  }
}

@media (min-width: 80rem) {
  .forum__info {
    padding-left: 16rem;
    padding-bottom: 1rem;
    padding-right: 19rem;
  }
}

.forum__name-title {
  color: #e1e1e1;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.forum__comment-name--box {
  background-color: #fafafa;
  height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: solid #e1e1e1 1px;
  margin-top: 0.3rem;
}

@media (min-width: 48rem) {
  .forum__comment-name--box {
    height: 3.75rem;
  }
}

.forum__comment-title {
  color: #e1e1e1;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.forum__comment-content--box {
  margin-top: 0.3rem;
  background-color: #fafafa;
  height: 6.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: solid #e1e1e1 1px;
}

.forum__comment-subcontainer {
  padding: 1rem 0 1rem 0;
}

.forum__section {
  color: #323232;
}

.forum__comment-container {
  position: relative;
}

@media (min-width: 48rem) {
  .forum__comment-container {
    border-top: solid 1px #e1e1e1;
  }
}

.forum__subsection--header {
  border-top: solid 1px #e1e1e1;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 48rem) {
  .forum__subsection--header {
    padding-bottom: 0.5rem;
  }
}

.forum__avatar-blank {
  position: absolute;
  height: 2.1875rem;
  width: 2.1875rem;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-left: 2vw;
}

@media (min-width: 48rem) {
  .forum__avatar-blank {
    margin-bottom: 1.25rem;
    margin-left: -55px;
    height: 2.8125rem;
    width: 2.8125rem;
  }
}

.forum__user {
  color: #323232;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding-left: 16vw;
}

@media (min-width: 48rem) {
  .forum__user {
    padding: 0;
  }
}

.forum__date {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #e1e1e1;
}

.forum__body {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 0.75rem 0 1rem 16vw;
  border-bottom: solid 1px #e1e1e1;
}

@media (min-width: 48rem) {
  .forum__body {
    padding: 0 0 1rem 0;
  }
}

.forum__button {
  background-color: #323232;
  color: #ffffff;
  padding: 0.375rem 0.625rem 0.3125rem 0.625rem;
  border-radius: 4%;
  width: 100%;
}

.forum__button:hover {
  background: #000000;
}

@media (min-width: 48rem) {
  .forum__button {
    margin-top: 1rem;
    width: 7rem;
    margin-left: 75%;
  }
}

@media (min-width: 80rem) {
  .forum__button {
    margin-left: 83%;
  }
}

.forum__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 48rem) {
  .forum-container {
    padding: 0px 5rem 0 7rem;
  }
}

@media (min-width: 80rem) {
  .forum-container {
    padding: 0px 19rem 0 16rem;
  }
}
/*# sourceMappingURL=bio.css.map */